
<footer class="container-fluid row page-footer">
<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
  <div class="row mx-auto">
    <img class="logo" src="../../assets/images/desk-ready-logo-blue 2.svg" alt="logo">
  </div>
  <div class="row social">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="#"><img src='../../assets/images/instgram.svg' alt="insta"></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><img src='../../assets/images/twitter.svg' alt="twitter"></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><img src='../../assets/images/facebook2.svg' alt="facebook" ></a></li>

      <li class="nav-item"><a class="nav-link" href="#"><img src='../../assets/images/linkedin.svg' alt="linkedin"></a></li>
    </ul>
  </div>

</div>
<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
  <div class="row">
    <p class="uppder-text pl-3"><span class="bold-cap">Choose desk ready as your technology partner</span><br><span>We develope successful solutions for corporate clients of all sizes.</span><br><span>Get desk ready with us!</span></p>
  </div>
    <div class="row no-gutters">
      <div class="col-lg-8 col-md-5 col-sm-12 col-xs-12">
      <p class="lower-text"><span class="bold-cap">desk ready training</span><br><span>+1(412)353-9161</span><br><span>solutions@deskready.com</span></p>
      </div>
      <div class="col-lg-4 col-md-7 col-sm-12 col-xs-12">
        <img class="" src="../../assets/images/mail.png" alt="mail">
      </div>
    </div>
</div>
</footer>
