<div class="container mx-3 my-3" *ngIf="user">
  <p routerLink="/users">Back to User List</p>
  <h1>User Details</h1>
  <div class="card-body p-0">
    <img class="card-img-top" style="width:200px" src="assets/images/{{ user.photoURL }}" alt="" />
    <h5 class="card-title d5">{{ user.first_name }} {{ user.last_name }}</h5>
    <h6 class="card-text text-muted">UserId: {{user.id}}</h6>

    <button routerLink="edit" routerLinkActive="button-active" class="button">Edit User</button>
    <router-outlet></router-outlet>
  </div>
</div>
