.image {
	height: 350px;
	width: 100%;
	color: white;
	background-image: url("../../assets/images/welcome.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	font-size: 50px;
	line-height: 50px;
	height: 191px;
	text-align: Left;
	vertical-align: top;
	font-weight: bolder;
	margin-left: 37px;
	width: 382.62px;
	padding-top: 60px;
}
sup {
	font-size: 14px;
	vertical-align: super;
	line-height: 50px;
	padding-left: 3px;
	padding-right: 3px;
}
